<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>TP2 EDM</title>
</head>

<body>
	<h1>EJERCICIOS TP2</h1>
	<ul>
		<li><a href="/mostrarPunto1?year=13/05/2004&nombre=Fredo">Punto1</a></li>
    <li><a href="/mostrarPunto2?">Punto 2</a></li>
		<li><a href="/resolverAlumnoP3?">Punto 3</a></li>
		<li><a href="/mostrarPunto4?">Punto 4</a></li>
		<li><a href="/mostrarPunto5?cad=Hola mundo!">Punto 5</a></li>
		<li><a href="/mostrarPunto6?">Punto 6</a></li>
		<li><a href="/mostrarPunto8?">Punto 8</a></li>
	</ul>
</body>
</html>