<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Ejercicio 2</title>
</head>
<body>
	<h1>MOSTRAR TIEMPO TRANSCURRIDO</h1>
	<h1>Apartado b.1</h1>
	<h2>Fecha 1: <span th:text="${Punto2.formatearFecha(Punto2.getFecha1())}"></span></h2>
	<h2>Fecha 2: <span th:text="${Punto2.formatearFecha(Punto2.getFecha2())}"></span></h2>
	<h1>Apartado b.3</h1>
	<h2>Tiempo transcurrido: <span th:text="${Punto2_1}"></span></h2>
	
	<h2><a href="/mostrarPunto2_b2_b4?">Apartados b.2, b.4</a></h2>
	<h2><a href="/mostrarPunto2b5?">Apartado b.5</a></h2>
	<h2><a href="/mostrarPunto2b6?dat1=11/07/1994&dat2=05/11/2010">Apartado b.6</a></h2>
	<br><br>
	<a href="menu">Volver al Menu</a>
</body>
</html>